@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30%);
}

.container {
  background-color: whitesmoke;
  border-radius: 15px;
  height: 32rem;
  width: 20rem;
}

h2 {
  font-weight: 700;
  color: rgb(45, 45, 86);
}

p {
  font-weight: 400;
  font-size: 16px;
  color: hsl(220, 15%, 55%);
  font-style: bold;
}
img {
  width: 17rem;
  border-radius: 30px;
  padding: 1.4rem;
}

h2,
p {
  padding-inline: 1.4rem;
  text-align: center;
}

@media (max-width: 350px) {
  .container {
    background-color: whitesmoke;
    border-radius: 15px;
    height: 40rem;
    width: 20rem;
    margin-inline: auto;
  }
  img {
    width: 10rem;
    border-radius: 30px;
    padding: 1.4rem;
  }
}
